<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="icinetic.BPCMSPipes.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <icinetic.BPCMSPipes.Properties.Settings>
            <setting name="TmpPath" serializeAs="String">
                <value>c:\tmp</value>
            </setting>
            <setting name="BaseHost" serializeAs="String">
                <value>http://emredw901.endesa.es</value>
            </setting>
            <setting name="GesMaLogin" serializeAs="String">
                <value>ES52319291H</value>
            </setting>
            <setting name="GesMaPwd" serializeAs="String">
                <value>Fidetia11</value>
            </setting>
            <setting name="GesMaDomain" serializeAs="String">
                <value>ESP</value>
            </setting>
        </icinetic.BPCMSPipes.Properties.Settings>
    </applicationSettings>
</configuration>